
<div class="container">
<div class="card">

          <div class="card-header">
            <h4>Mobile Phones {{ratingLabel}}</h4> 
            <br>
          <div class="row">
              <div class="col">
                  Filter By : <input type="text" [(ngModel)]="filterBy">
              </div>
              <div class="col">
                  Filtered : {{filterBy}}
              </div>
              </div>
          </div>
          <div class="card-body">
                    <table class="table" *ngIf="featuredProduct && featuredProduct.length>0" >
                              <thead [ngClass]= 'tableHeader'>
                                <tr>
                                  <th>
                                    <input type="checkbox" [(ngModel)]='ShowImage'> 
                                    <button class="btn btn-primary"
                                    (click)= 'toggleImg($event)'>Image</button></th>
                                  <th >Code</th>
                                  <th >Name</th>
                                  <th >Description</th>
                                  <th >Price</th>
                                  <th >Rating</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let product of featuredProduct" [class.featured-class] = "product.featured">
                                  <td><img *ngIf="ShowImage"
                                           [src]='product.imageUrl' 
                                           alt = '{{product.name}}'
                                           [style.width.px]='imageWidth'></td>
                                  <td>{{product.code | convertTospace : '-':'@' }}</td>
                                  <td>{{product.name}}</td>
                                   <td><span [title] = 'product.description'>
                                    {{product.description | slice : 0 :10}}
                                  </span>
                                  </td>
                                  <td>{{product.price | currency : 'INR'}}</td>
                                  <td><app-star [rating]="product.rating" [title]='product.rating'
                                       (ratingClick)='ratingChanged($event)'>
                                       </app-star></td>
                                  <!-- <td>{{product.rating}}</td> -->
                                </tr>
                              </tbody>
                            </table>
                            
          </div>
        </div>
</div>




