.featured-class{
          background-color: rgb(255, 236, 182);
          color: blue;
}

.header-bg{
          color: rgba(0, 0, 0, 0.623);
}

.header-fg{
          background-color: rgba(172, 255, 47, 0.575);
          
}